## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,84,20,1.99,few clouds
1,1,Cidreira,BR,-30.1811,-50.2056,66.76,67,4,9.57,clear sky
2,2,Karratha,AU,-20.7377,116.8463,100.98,22,13,3.67,few clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,51.46,62,20,12.66,few clouds
4,4,Albany,US,42.6001,-73.9662,29.68,76,99,3.29,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,84,20,1.99,few clouds
8,8,Carutapera,BR,-1.1950,-46.0200,78.42,88,48,5.44,scattered clouds
10,10,Rikitea,PF,-23.1203,-134.9692,76.10,73,64,19.42,broken clouds
13,13,Gigmoto,PH,13.7796,124.3900,81.37,80,58,16.98,broken clouds
17,17,Mogadishu,SO,2.0371,45.3438,77.38,73,11,17.60,few clouds
19,19,Georgetown,MY,5.4112,100.3354,85.93,70,20,1.99,few clouds
21,21,Kahului,US,20.8947,-156.4700,80.62,76,40,24.16,scattered clouds
33,33,Santiago Del Estero,AR,-27.7951,-64.2615,76.80,47,100,16.37,overcast clouds
36,36,Butaritari,KI,3.0707,172.7902,82.26,77,100,8.43,overcast clouds
37,37,Ende,ID,-8.8432,121.6623,86.81,68,60,6.29,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                139
City                   139
Country                138
Lat                    139
Lng                    139
Max Temp               139
Humidity               139
Cloudiness             139
Wind Speed             139
Current Description    139
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,80.58,84,20,1.99,few clouds
8,8,Carutapera,BR,-1.1950,-46.0200,78.42,88,48,5.44,scattered clouds
10,10,Rikitea,PF,-23.1203,-134.9692,76.10,73,64,19.42,broken clouds
13,13,Gigmoto,PH,13.7796,124.3900,81.37,80,58,16.98,broken clouds
17,17,Mogadishu,SO,2.0371,45.3438,77.38,73,11,17.60,few clouds
...,...,...,...,...,...,...,...,...,...,...
531,531,Beruwala,LK,6.4788,79.9828,78.31,81,100,3.67,overcast clouds
534,534,Catamarca,AR,-28.4696,-65.7852,75.04,91,100,3.76,overcast clouds
536,536,Makakilo City,US,21.3469,-158.0858,77.32,64,75,13.80,broken clouds
543,543,Pouebo,NC,-20.4000,164.5667,85.80,65,48,8.12,scattered clouds
544,544,Natal,BR,-5.7950,-35.2094,81.25,83,20,13.80,few clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
8,Carutapera,BR,78.42,scattered clouds,-1.1950,-46.0200,
10,Rikitea,PF,76.10,broken clouds,-23.1203,-134.9692,
13,Gigmoto,PH,81.37,broken clouds,13.7796,124.3900,
17,Mogadishu,SO,77.38,few clouds,2.0371,45.3438,
19,Georgetown,MY,85.93,few clouds,5.4112,100.3354,
21,Kahului,US,80.62,scattered clouds,20.8947,-156.4700,
33,Santiago Del Estero,AR,76.80,overcast clouds,-27.7951,-64.2615,
36,Butaritari,KI,82.26,overcast clouds,3.0707,172.7902,
37,Ende,ID,86.81,broken clouds,-8.8432,121.6623,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Carutapera,BR,78.42,scattered clouds,-1.1950,-46.0200,Lidera
10,Rikitea,PF,76.10,broken clouds,-23.1203,-134.9692,People ThankYou
13,Gigmoto,PH,81.37,broken clouds,13.7796,124.3900,Cj's Travellers Inn
17,Mogadishu,SO,77.38,few clouds,2.0371,45.3438,Hotel Juba

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))